.tutorial {
  h1, p, label, input, button {
    margin: 0px 0px 10px 0px;
  }
  .speaker {
    float: right;
    max-height: 300px;
  }
  form {
    display: flex;
    flex-direction: column;
    input, button {
      width: 150px;
      box-sizing: border-box;
    }
    button {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .starters {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 10px;
    .pokemon-card {
      max-width: 32%;
    }
  }
}